<% layout("/layouts/boilerplate") -%>
<div class="row""> 
    <div class="col-8 offset-2">
       <h3>Listing Details:</h3>
    </div>
    <div class="card col-6 offset-2 show-card" style="border: none;">
        <img src="<%=listing.image %> " class="card-img-top show-img "alt="listing_image" style="width: 550px;height: 300px;">
        <div class="card-body">
            <p class="card-text">
              <b><%=listing.title %></b> <br>
              <%=listing.description %> <br>
              &#8377;<%=listing.price.toLocaleString("en-IN") %>/night <br>
              <li><%=listing.location %></li><br>
              <li><%=listing.country %></li><br>
            </p>
        </div>
    </div>
    <div class="btns" style="display: flex;">
        <a href="/listings/<%= listing._id %>/edit"
             class="btn btn-dark col-1 offset-2">Edit</a>

        <form method="POST" action="/listings/<%=listing._id %>?_method=DELETE">
            <button class="btn  btn-dark offset-4 " style="background-color: brown;">Delete</button>
        </form>
    </div>
</div>
